[submodule "bibliotecas"]
	path = bibliotecas
	url = https://github.com/DWES-LE/aplicacion-bibliotecas-MohamedElderkaoui
[submodule "mundial"]
	path = mundial
	url = https://github.com/MohamedElderkaoui/mundial-futbol-app.git
[submodule "mundiall"]
	path = mundiall
	url = https://github.com/lmorillas/mundial-futbol-app.git
[submodule "mundiaal"]
	path = mundiaal
	url = https://github.com/MohamedElderkaoui/mundial-futbol-app.git
