{% extends 'base.html' %}

{% block title %}Detalle de libro{% endblock %}

{% block content %}
    <h1>{{ author.first_name }}</h1>
<p>Nombre: {{ author.name }}</p>
<p>Fecha de nacimiento: {{ author.date_of_birth }}</p>
<p>Fecha de fallecimiento: {{ author.date_of_death }}</p>
<p>Resumen: {{ author.summary }}</p>
<div class="d-flex justify-content-center">
    <div class="p-2">
        <button type="button" class="btn btn-primary" onclick="history.back()">AtrAs</button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-primary" onclick="history.forward()">Adelante</button>
    </div>
</div>

{% endblock %}